mj-section(background-color='#ffffff') 
    mj-column(width='600px')
        mj-text(align='left' font-size='28px' font-weight='700' line-height='32px' color='#684092') À vos Agendas
        mj-image(padding-top='0' padding-bottom='20px' border='none' target='_blank' fluid-on-mobile='true' src='https://i.ibb.co/Y0f8QRG/Forum-Start-Avenir052024.jpg' alt='Forum Start Avenir 29/05/2024')/
        mj-image(padding-top='0' padding-bottom='0' border='none' target='_blank' fluid-on-mobile='true' src='https://i.ibb.co/PGhwN1t/JPO22062024.jpg' href='https://forms.gle/84rJEk8YDumXxvQ8A' alt='Affiche JPO 22/06/2024')/