mj-section(background-color='#270938')
    mj-column(width='550px')
        mj-text(align='center' font-size='28px' line-height='32px' font-weight='500' color='#BA4995') #[span(style='font-weight:700;color:#ffffff;') Plus de 40 postes en alternance] à pourvoir auprès de nos #[span(style='font-weight:700;color:#ffffff;') entreprises partenaires]
        mj-button(css-class='hover' padding='25px 0 15px 0' align='center' font-size='16px' background-color='#BA4995' color='#ffffff' href="https://ecosup-assurance.fr/category/postes-pourvoir") Postulez