//- bandeau entreprises animé
mj-section(padding='0')
            mj-column(width='100%' background-color='#684092')
                mj-image(padding='0' border='0' alt='+40 postes à pourvoir en alternance chez nos entreprises partenaires' src='https://i.ibb.co/PmvMPfV/bandeau-Let.gif')/
                mj-button(align='right' css-class='hover' padding-top='0' padding-right='35px' padding-bottom='25px' font-size='16px' background-color='#BA4995' color='#ffffff' href="https://ecosup-assurance.fr/category/postes-pourvoir") Postulez