mj-section(background-color='#ffffff' padding-left='17px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(padding='0' border='none' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/BzRKj6q/let1-062024.jpg' href='https://ecosup-assurance.fr/membre-reseau-esa/' alt='Logo ESA et carte du réseau ESA : l\'École Supérieure de l\'Assurance')/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Actualités Assurance
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Ecosup Assurance, membre du réseau ESA : un acteur majeur de la formation en assurance en France
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') #[span(style='font-weight:700;') L'École Supérieure d'Assurance (ESA)] met l'accent sur une pédagogie d'excellence combinant savoirs théoriques et pratiques
        mj-text(align='right' color='#BA4995' font-weight='700') #[a(href='https://ecosup-assurance.fr/membre-reseau-esa/' style='color:#BA4995;text-decoration:none;' target='_blank') Lire la suite...]