
//- Texte
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/mz8NctF/let4-E-062024.jpg' href='https://ecosup-assurance.fr/formation-exigence-pedagogie-exception/' alt='Remise des diplômes à Ecosup Campus - lancer de chapeaux')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='20px')
    mj-column(width='88%') 
        mj-text(padding-top='5px' padding-bottom='5px' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Dossier
        mj-text(padding-top='0' padding-bottom='0' font-size='28px' font-weight='500' line-height='30px' color='#684092') #[span(style='font-weight:700;') Zoom EcoSup Assurance :] une Formation d'exigence - une pédagogie d'exception !
        mj-text(padding-top='5px' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') C'est à #[span(style='font-weight:700;') Tourcoing] que l'école naît à l'initiative de #[span(style='font-weight:700;') Pierre Bouvier] en 1992 avec la volonté de faire de l'#[span(style='font-weight:700;') apprentissage] et de la #[span(style='font-weight:700;') professionnalisation] une spécialité, une identité !
        mj-text(padding-top='5px' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') Depuis, Ecosup prépare, avec des #[span(style='font-weight:700;') formations supérieures], reconnues et #[span(style='font-weight:700;') accessibles en apprentissage], les étudiants à se transformer en #[span(style='font-weight:700;') professionnels] aux compétences recherchées et appréciées par les employeurs.
        mj-text(align='right' font-size='16px' line-height='20px' font-weight='700') #[a(href='https://ecosup-assurance.fr/formation-exigence-pedagogie-exception/' style='color:#BA4995;text-decoration:none;' target='_blank') Lire la suite...]