mj-section(background-color='#ffffff' padding='20px 32px')
    mj-column(width='320px')
        mj-image(width='140px' padding='0' border='none' align='center' target='_blank' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb27b4d0c8d6691c4e4e95.png' href='https://ecosup-campus.com' alt='Logo Ecosup Campus')/
        mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') 17 rue Charles et Albert Roussel
        mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748' text-transform='uppercase') 59200 Tourcoing
        mj-text(padding='0' align='center' font-size='12px' font-weight='700' line-height='16px' color='#2D3748') #[a(style='text-decoration:none;color:#2D3748' href='tel:0320700606') Tél 03.20.70.06.06]                
        mj-text(padding='0 0 25px 0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') #[a(style='text-decoration:none;color:#2D3748' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr]
        mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') si vous n'arrivez pas à lire cet email, cliquez #[a(style='color:#BA4995;text-decoration:none;font-weight:700' href='{{ mirror }}') ici]
        mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') Pour être sûr(e) de recevoir nos communications, ajoutez #[a(style='text-decoration:none;color:#2D3748;' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr] dans votre carnet d'adresses.
        mj-text(padding='0' align='center' font-size='12px' font-weight='300' line-height='16px' color='#2D3748') Pour vous désinscrire, cliquez #[a(style='color:#BA4995;text-decoration:none;font-weight:700' href='{{ unsubscribe}}') ici].